argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1596828493937/work
async-generator==1.10
attrs @ file:///tmp/build/80754af9/attrs_1600298409949/work
backcall==0.2.0
beautifulsoup4==4.9.2
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
Brotli==1.0.9
bs4==0.0.1
certifi==2020.6.20
cffi @ file:///tmp/build/80754af9/cffi_1600699146221/work
chardet==3.0.4
click==7.1.2
dash==1.16.3
dash-core-components==1.12.1
dash-html-components==1.1.1
dash-renderer==1.8.2
dash-table==4.10.1
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
finance-datareader==0.9.10
Flask==1.1.2
Flask-Compress==1.6.0
future==0.18.2
idna==2.10
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1593446406207/work
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596207638929/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1598883821407/work
ipython-genutils==0.2.0
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
itsdangerous==1.1.0
jedi @ file:///tmp/build/80754af9/jedi_1598371611696/work
Jinja2==2.11.2
jsonschema @ file:///tmp/build/80754af9/jsonschema_1601490578438/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1598884538475/work
jupyter-core==4.6.3
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
lxml==4.5.2
MarkupSafe==1.1.1
mistune==0.8.4
nbclient @ file:///tmp/build/80754af9/nbclient_1601059699549/work
nbconvert @ file:///tmp/build/80754af9/nbconvert_1601069204803/work
nbformat==5.0.7
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1601499549014/work
notebook @ file:///tmp/build/80754af9/notebook_1601501575118/work
numpy==1.19.2
packaging==20.4
pandas==1.1.2
pandocfilters==1.4.2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
plotly==4.11.0
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1598885458782/work
ptyprocess==0.6.0
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
pykrx==0.1.41
PyMySQL==0.10.1
pyparsing==2.4.7
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1600141720057/work
python-dateutil==2.8.1
pytz==2020.1
pyzmq==19.0.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
requests==2.24.0
requests-file==1.5.1
retrying==1.3.3
Send2Trash==1.5.0
sip==4.19.13
six==1.15.0
soupsieve==2.0.1
SQLAlchemy==1.3.19
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
tqdm==4.50.0
traitlets @ file:///tmp/build/80754af9/traitlets_1600712396819/work
urllib3==1.25.10
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
xlrd==1.2.0
zipp==3.1.0
zope.interface==5.1.2
